/* 页脚与头图透明 */
#footer {
  background: transparent !important;
}
#page-header {
  background: transparent !important;
}

/* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info {
  background: linear-gradient(
    -45deg,
    #e8d8b9,
    #eccec5,
    #a3e9eb,
    #bdbdf0,
    #eec1ea
  )
}

.my-footer {
  text-align: center;
  opacity: .85;
  font-size: 14px;
  padding: 15px 0;
}
.my-footer a {
  color: #fff;
  border-bottom: 1px dashed #ccc;
}
